// navbar top start
.navbar-brand{
    font-family: 'gilextra';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    color: #000000;
}

.navbar-collapse{
    padding-left: 160px !important;
}

.nav-link{
    padding-left: 40px !important;
    font-family: 'gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.navbar__call{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    color: #000000;
    padding-right: 95px;
}

.navbar__sign{
    a{
        text-decoration: none;
    }
}

.navbar__voyti{
    list-style-type: none;
    width: 200px;
    border: 2px solid #1387F2;
    border-radius: 30px;
    height: 60px;
    a{
        font-family: 'gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: #1387F2;
    }
}

.navbar-toggler:focus{
    outline: none !important;
    
}

// navbar top end

// navbar middle start
body{
    overflow-x: hidden;
}
.nav__middle{
    margin-top: 160px !important;
}

.nav__col1{
    max-width: 1265px ;
    h2{
        font-family: 'oks';
        font-style: normal;
        font-weight: 400;
        font-size: 120px;
        line-height: 120px;
        font-feature-settings: 'liga' off;
        color: #000000;
        padding-top: 100px;
    }
    p{
        font-family: 'gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        padding-top: 30px;
        color: #000000;
        span{
            font-weight: 700;
        }
    }
}

.nav__col2{
    .img{
        border: 3px solid #1387F2;
        box-sizing: border-box;
        border-radius: 202.5px;
    }
    .victer{
        top: -3px;
        right: -51px;
    }
}
.nav__li-uchit{
    background: #1387F2;
    box-shadow: 0px 8px 20px rgba(0, 133, 255, 0.5);
    border-radius: 35px;
    width: 263px;
    height: 70px;
    margin-top: 50px;
    list-style-type: none;
}

.nav__uchit{
    font-family: 'gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.img-fullshot{
    top: 412px;
    right: 20px;
    border: 3px solid #B6FF58;
    box-sizing: border-box;
    border-radius: 131.5px;
}

.img-grup2{
    left: -51px;
    top: 622px;
}

.img-grup10{
    top: 688px;
    right: 50%;
    transform: translateX(50%);
}

.nav__container2{
    margin-top: 288px;
    
    .container__h4{
        font-family: 'oks';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 72px;
        color: #000000;
    }
}

.nav__number{
    font-family: 'gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 86px;
    color: #000000;
    position: relative;
    margin-top: 50px;
}

.nav__number::before{
    content: "";
    width: 240px;
    height: 80px;
    position: absolute;
    top: 51px;
    left: -51px;
    z-index: -1;
}

.nav-num1::before{
    background-color: #1387F2;
    border-radius: 40px;
}
.nav-num2::before{
    background-color: #B6FF58;
    border-radius: 40px;
}
.nav-num3::before{
    background-color: #F68E12;
    border-radius: 40px;
}

.container2__col1{
    width: 363px !important;
}
.container2__col2{
    width: 517px !important;
}
.container2__col3{
    width: 583px !important;
}
.container2--col{

    p{
        font-family: 'gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        color: #000000;
        padding-top: 20px;
    }
}





@media (max-width: 1550px){
    .navbar__call{
        font-size: 24px;
    }    
    .navbar-collapse{
        padding-left: 120px !important;
    }

    .navbar-brand{
        font-size: 30px;
    }

    .nav-link{
        padding: 0;
        padding-left: 10px !important;
        font-size: 25px;
    }
    .navbar__voyti{
        width: 180px;
        a{
            font-size: 28px;
        }
    }
    .navbar__call{
        font-size: 20px;
        padding-right: 20px;
    } 

    .nav__col1{
        h2{
            font-size: 100px;
            line-height: 110px;
        }
        p{
            font-size: 34px;
            line-height: 38px;
        }
    }

    .nav__number{
        font-size: 60px;
    }
    .container2--col{
        p{
            font-size: 28px;
        }
    }
    .container__h4{
        font-size: 65px !important;
    }
    
    
}

@media (max-width: 1265px){

    .navbar-collapse{
        padding-left: 40px !important;
    }
    .nav-link{
        padding-left: 10px !important;
        font-size: 20px;
    }

    .navbar-brand{
        font-size: 26px;
    }

    .navbar__voyti{
        width: 110px;
        height: 50px;
        a{
            font-size: 20px;
        }
    }
    .nav__col1{
        h2{
            font-size: 80px;
            line-height: 90px;
        }
        p{
            font-size: 28px;
            line-height: 35px;
        }
    }
    .img-grup2{
        left: 10px;
        top: 560px;
    }
    .nav__number{
        font-size: 50px;
    }
    .container2--col{
        p{
            font-size: 24px;
        }
    }
    .nav__row--number{
        display: block !important;
    }
    .nav__container2{
        padding-left: 55px !important;
        margin-top: 200px !important;
    }
    .container__h4 {
        font-size: 50px !important;
    }
    
}

@media (max-width: 991px){
    .rowrow{
        display: block !important;
    }
    .navbar-collapse{
        padding-left: 0 !important;
    }
    
    .nav__col1{
        h2{
            font-size: 70px;
            padding-top: 10px;
        }
        p{
            font-size: 25px;
        }
    }

    .navbar__call{
        padding-right: 50px;
    }
    .navbar-brand{
        font-size: 35px;
    }

    .nav-link{
        padding-left: 0px !important;
        font-size: 20px;
    }
    .navbar__voyti{
        a{
            font-size: 16px;
        }
    }
    .nav__col1{
        h2{
            line-height: 70px;
        }
        p{
            line-height: 30px;
        }
    }
    .img-grup2{
        top: 500px;
    }
    .container__h4 {
        font-size: 40px !important;
        line-height: 50px !important;
    }
    .container2--col{
        width: 500px !important;
    }

    .nav__number{
        font-size: 40px;
    }
   
    .nav__number::before{
        width: 180px;
        height: 60px;
    }

    .img__marg{
        left: 0px !important;
    }
    .nav__middle{
        margin-top: 100px !important;
    }

}

@media (max-width: 720px){
    .navbar__call{
        font-size: 17px;
        padding-right: 20px;
    }
    .navbar__voyti{
        width: 80px;
        height: 35px;
    }
    .nav__col1{
        h2{
            font-size: 50px;
            padding-top: 0px;
        }
        p{
            font-size: 20px;
        }
    }
    .nav__li-uchit{
        width: 180px;
        height: 50px;
        a{
            font-size: 24px;
        }
    }
    .img-grup10{
        top: 610px;
    }

    .nav__col1{
        h2{
            line-height: 50px;
        }
    }
    .container__h4{
        font-size: 30px !important;
        line-height: 40px !important;
    }
    .container2--col{
        width: 350px !important;
    }
    .nav__number{
        font-size: 35px;
    }
    .nav__number::before{
        width: 150px;
        height: 50px;
    }
    .nav__container2{
        margin-top: 130px !important;
    }
}

@media (max-width: 576px){
    .navbar-brand{
        font-size: 28px;
    }
    .nav__col1{
        h2{
            font-size: 30px;
        }
    }
    .img-grup10{
        top: 590px;
    }
    .container2--col{
        width: 240px !important;
    }
   
}
@media (max-width: 376px){
    .img-grup10{
        display: none;
    }
    .container2--col{
        width: 120px !important;
        p{
            font-size: 15px !important;
        }
    }
    
    .container__h4{
        font-size: 20px !important;
    }
   
}

// navbar middle end