// test section start
.test{
    margin-top: 120px;
}

.test__h5{
    font-family: 'oks';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    color: #000000;
}

.test__p{
    font-family: 'gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    padding-top: 50px;
}

.test__button{
    width: 300px;
    height: 70px;
    font-family: 'gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    background: #1387F2;
    box-shadow: 0px 8px 20px rgba(0, 133, 255, 0.5);
    border-radius: 35px;
    margin-top: 80px;
}


.test__img2{
    border-radius: 202.5px;
}

.test__button:focus{
    outline: none !important;
    border: none !important;
}

.test__img11{
    top: 243px !important;
    right: 362px !important;
}

.test__img12{
    top: 486px;
    left: 334px !important;
}




@media(max-width: 1265px){
    .test__img11{
        right: 90px !important;
        top: 20px !important;
    }

    .test__img12{
        top: 580px !important;
        left: 90px !important;
    }
}

@media(max-width: 976px){
    .test__h5{
        padding-left: 0px !important;
    }

    .test__p{
        padding-left: 0px !important;
    }

    .test__button{
        margin-left: 0px !important;
    }

    .test__img12{
        top: 880px !important;
        left: 10px !important;
        width: 100px !important;
    }
    .test__img11{
        right: 70px !important;
        top: 10px !important;
    }
    

}


@media(max-width: 720px){
    .test__button{
        width: 250px !important;
        font-size: 25px !important;
        height: 60px !important;
    }
    .test__h5{
        font-size: 50px !important;
        line-height: 50px !important;
    }
    .test__p{
        font-size: 24px !important;
        line-height: 38px !important;
    }
    .test__img12{
        top: 1090px !important;
        left: 50px !important;
        width: 90px !important;
    }
    .test__img11{
        right: 10px !important;
        top: 20px !important;
        width: 90px !important;
    }
}


@media(max-width: 576px){
    .test__button{
        width: 190px !important;
        font-size: 16px !important;
        height: 50px !important;
        margin-top: 50px !important;

    }
    .test__h5{
        font-size: 30px !important;
        line-height: 40px !important;
    }
    .test__p{
        font-size: 20px !important;
        line-height: 28px !important;
        padding-top: 30px !important;
    }
    .test__img12{
        top: 790px !important;
        left: 20px !important;
        width: 80px !important;
    }

}

@media(max-width: 376px){
    .test__img12{
        top: 650px !important;
    }

    .test__h5{
        font-size: 20px !important;
        line-height: 25px !important;
    }
    .test__p{
        font-size: 16px !important;
        line-height: 22px !important;
        padding-top: 30px !important;
    }
    .test__img11{
        display: none !important;
    }
}

// test section end 